//- when help button is clicked, this dropdown menu appears
.menu
  a.foldr.item(href="/transforlab")
    i.icon.exchange
    | Hacking TransforLab
  a.foldr.item(href="/hacks")
    i.icon.exchange
    | allmende.io hacks
  a.link.item(href="https://github.com/allmende/hackfoldr-2.0",target="_blank")
    i.icon.github
    i.icon.forward.mail
    | Source Code
