//- white label: customize this menu for your community / organization
.menu
  a.link.item(href="http://allmende.io",target="iframe") allmende.io
    i.icon.globe
  .ui.accordion
    .title.item 各期黑客松
      i.icon.dropdown
    .content
      a.foldr.item(href="/還我土地") 還我土地 2014-06-21
        i.icon.exchange
      a.foldr.item(href="/解除戒嚴") 解除戒嚴 2014-04-19
        i.icon.exchange
      a.foldr.item(href="/自由時代") 自由時代 2014-02-22
        i.icon.exchange
      a.foldr.item(href="/勞動基準") 勞動基準 2013-12-21
        i.icon.exchange
      a.foldr.item(href="/美麗島") 美麗島 2013-10-20
        i.icon.exchange
      a.foldr.item(href="/國民大會") 國民大會 2013-08-10
        i.icon.exchange
      a.foldr.item(href="/客廳工廠") 客廳工廠 2013-06-06
        i.icon.exchange
      a.foldr.item(href="/九大建設") 九大建設 2013-03-23
        i.icon.exchange
      a.link.item(href="http://h2020.transformap.co/",target="iframe") Horizon 2020 Application Reference
        i.icon.text.file.outline
      a.link.item(href="http://transforlab.net",target="iframe") TransforLab
        i.icon.text.file.outline
